/*定义公共颜色样式*/
/*文字颜色*/
$black_c:#000000;

/*白色*/
$wihte_c:#fff;

/*菜单底色*/
$menuback:#272b2e;

/*菜单透明时*/
$menutouming:rgba(55, 61, 65, 0.7);

/*菜单hover*/
$menuhover:#ecf5ff;

/*顶部蓝色*/
$topgreen:rgb(84, 92, 100);

/*顶部logo背景*/
$logoback:#545c64;

/*蓝色高亮*/
$greenlight:#696969;

/*hover绿*/
$green_h:#e6e6e6;
$green_b:#cccccc;


/*边线色*/
$bordercolor:#f1f1f1;

/*重要文字*/
$text_c:#333333;

/*普通文字*/
$gray:#606266;

/*次要文字*/
$gray2:#909399;

/*红色提示*/
$red_c:#ED5566;

/*红色hover*/
$red_h:#E1495A;

/*失败红*/
$red_fail:#f56c6c;

/*成功绿*/
$green_suc:#67c23a;

/*页面底色*/
$pageback:#F3F3F4;

/*黃色高亮*/
$yellow_high:#FFFF00;
/*
* 菜单部分
*/

/*蓝色按钮*/
$bluebtn:#409eff;

$bluebtn_high:#72b8ff;

/*菜单二级颜色*/
$menuback2:#2F4050;

/*菜单文字颜色*/
$menutext1:#CCCCCC;

/*边线*/
$menuborder:#34404C;

/*背景颜色*/
$backcolor:#f8f9fb;

/*登录颜色*/
$logincolor:#0082DF;
